
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Merriweather:wght@300;400;700;900&display=swap');

body{
    margin: 0px 140px;
    padding: 0px;
    background: #FFF;
}

/* common style */
.Merriweather-text{
    font-family: Merriweather;
}


/* header section */

header{
    margin: 0px auto;
    width: 100%;
   height: 600px;
    text-align: center;
    background: linear-gradient(#070211, #07021100),  url(../images/Banner\ Image.png);
    background-position: center;
    background-size: cover;
    /* linear-gradient(80deg, #070211 0%, rgba(7, 2, 17, 0) 100%), */
}
header .header-tittle{
    text-align: center;
    padding-top: 170px;
}

.header-tittle h3{
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    
}
.header-tittle h1{
 color: #FFF;
text-align: center;
font-size: 72px;
font-weight: 900;
line-height: 95px; 
}



/* cate section */
.cate{
    margin-top: 120px;
}
.cate-content h1{
    margin-bottom: 35px;
color: #F00;
text-align: center;
font-family: Inter;
font-size: 88px;
font-weight: 700;
}
.cate-content h4{
    margin-top: 48px;
    margin-bottom: 0px;
color: #F00;
text-align: center;
font-family: Inter;
font-size: 24px;
font-weight: 500;

}
.cate-content h2{
    margin-top: 2px;
color: #070211;
text-align: center;
font-family: Inter;
font-size: 48px;
font-weight: 700;


}
.cate-img{
    text-align: center;
}

/* <!-- midnight party --> */
.midnight{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 48px;
    margin: 120px auto;
    padding: 125px;
    width: 1300px;
    background: linear-gradient(#070211, #07021100), url(../images/Vectorrr.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
.midnight-content{
    width: 48%;

}

.midnight-content h1{
    color: #FFF;
    margin-bottom: 0px;
font-family: Merriweather;
font-size: 64px;
font-weight: 900;
line-height: 88px; 
letter-spacing: 7.04px;
}
.midnight-content p{
    color: rgba(255, 255, 255, 0.80);
    margin-top: 12px;
    margin-bottom: 45px;
font-family: Inter;
font-weight: 400;
line-height: 30px; 
}
.cate-content button{
    color: #FFF;
   border: none;
   padding: 0px;
   width: 120px;
   
   
}


/* info section */



.section-info .info-content{
text-align: center;
 padding-top: 100px;
 color: #070211;
font-family: Inter;
font-size: 30px;
font-weight: 600;
line-height: 56px;

}
.section-info{
    border: 2px solid black;
    margin: 90px auto;
    width: 1500px;
height: 450px;
background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);;
}
.info-banner span{
color: #F00;
text-align: center;
font-family: Inter;
font-size: 34px;
font-weight: 600;
line-height: 56px; 

}

.info-content button{
    color: #FFF;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
width: 170px;
height: 50px;
border: 0px;
  border-radius: 8px;
  background: #F00;
}


/* best offer section */

.best-offer-container{
   
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.best-offer-info{
    width: 30%;
}
.best-offer-info h3{
color: #F00;
font-family: Inter;
font-size: 24px;
font-weight: 500;

}
.best-offer-info h1{
    color: #070211;
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
}
.best-offer-info p{
    color: rgba(7, 2, 17, 0.60);

font-size: 20px;

font-weight: 400;
line-height: 32px; 
}
.best-offer-ad h1{
color: #F00;
font-size: 48px;
font-weight: 700;

}

.best-offer-ad{
    width: 25%;
}
.best-offer-ad p{
color: rgba(7, 2, 17, 0.60);
font-size: 20px;
font-weight: 400;
line-height: 32px; 
}